.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.logo {
  align-self: center;
}

.hr {
  width: 100%;
  margin-block: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  width: 25rem;
  align-self: center;
}

.form > label {
  margin: 0.5rem;
  flex: 1;
  display: flex;
  width: 100%;
}

.form > label > span {
  flex: 0 0 4rem;
}

.form > label > input {
  flex: 1;
}

.form > button {
  margin-top: 1rem;
}